
        <footer>
            <div class="container">
                <div class="row no-mar pad padV">
                    <div class="foot-item account col-lg-4">
                		<h3>Your Account</h3>
                		<ul class="link-inline">
                			<li><a href="#">Log In</a></li>
                			<li><a href="#">Join Now</a></li>
                			<li><a href="#">Customer Service</a></li>
                			<li><a href="#">Newsletters</a></li>
                		</ul>
                		<ul class="link-inline">
                			<li><a href="#">Freestuff</a></li>
                			<li><a href="#">Data Policy</a></li>
                			<li><a href="#">Privacy Policy</a></li>
                			<li><a href="#">Ad Choices</a></li>
                		</ul>
    	           </div>
                    <div class="foot-item connect col-lg-4">
                        <h3>Connect With Us</h3>
                      <div class="social-links">
                		  <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                		  <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                		  <a href="#"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                		  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                	  </div>
                    </div>
                    <div class="foot-item search col-lg-4">
                		<h3>Search Fitness</h3>
                        <form   method="get">
                            <div class="input-group">
                                <input class="form-control" name="search" type="search" />
                                <button type="submit" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>

                        </form>
                	</div>
                </div>
            </div>
        </footer>
    </body>
</html>
