<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= Title %></title>
	<meta name="name" content="content">
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-revision.css"/>
	<link rel="stylesheet" type="text/css" href="/css/flexslider.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.flexslider-min.js"></script>
    <script src="/js/fitness.js"></script>


</head>
  <body>
	  <header class="fluid">
		  <div class="container">

			  <div id="top-nav" class="row no-mar">
				  <div class="col-md-3">
				  	<h1 id="logo"><a href="/">fitness</a></h1>
				  </div>

				  <div id="signup" class="col-md-6 ">
					  <div class="row no-mar">
						  <div  class="login col-xs-12 col-sm-6">
    						  <ul class="link-inline">
        				 		  <li><a href="#">Log In</a></li>
        				 		  <li><a href="#">Sign Up</a></li>
        				 	  </ul>
    					  </div>
    					  <div class=" col-xs-12 col-sm-6 fluid-flex">
    						  <form  method="post">
								  <div class="input-group">
									  <input  type="search"  class="form-control"/>
									  <button type="submit" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
								  </div>
    						  </form>
    					  </div>
					  </div>
				  </div>
			  </div>
			  <div id="bottom-nav" class="row no-mar  justify-content-center">
				  <button class=" btn mobile-btn fluid hidden-md-up" ><i class="fa fa-bars"></i></button>
				  <div class="col-lg-10 col-md-12">
					  <nav class="navbar navbar-light ">
          	            <ul class=" navbar-nav between desktop">
          	                <li class="nav-item submenu">
								<a class="nav-link" href="/hot-topics">hot topics </a>
								<span class ="hidden-md-up fa fa-angle-down" ></span>
								<ul>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
								</ul>
							</li>
							<li class="nav-item submenu">
								<a class="nav-link" href="/workouts">workouts </a>
								<span class ="hidden-md-up fa fa-angle-down" ></span>
								<ul>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
								</ul>
							</li>
							<li class="nav-item submenu">
								<a class="nav-link" href="/diets">diets </a>
								<span class ="hidden-md-up fa fa-angle-down" ></span>
								<ul>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
									<li><a href="#">link</a></li>
								</ul>
							</li>
          	                <li class="nav-item"><a class="nav-link" href="/community">community</a></li>
          	                <li class="nav-item"><a class="nav-link" href="/healthy-eating">healthy eating</a></li>
          	                <li class="nav-item"><a class="nav-link" href="/tracker">tracker</a></li>
          	            </ul>
          	        </nav>
				  </div>
			  </div>
		  </div>
	  </header>
