
{% include 'head'%}
<main >
    <section id="slider" >
        <div class="slider-img">
          <img class="img-fluid" src="http://placehold.it/1920x450" alt="">
        </div>
        <div class="slider-text pad padV" >
            <div class="container">
                <h2>The truth behind strength training</h2>
                <p class="pad padH">Asymmetrical wolf letterpress, photo booth cornhole occupy tattooed portland fanny pack distillery offal roof party blog. Health goth cray four loko flannel 8-bit organic, gochujang waistcoat. Keytar franzen mumblecore, ennui stumptown etsy meditation YOLO cray 3 wolf moon waistcoat pop-up poutine tattooed austin.</p>
            </div>
        </div>
    </section>
    <section id="content" class="container">

           <div  id="workouts">
               <div class="row justify-content-center">
                   <h2><a href="#">Workouts</a></h2>
                   <div id="work-list" class="row fluid" >
                       <div class="videos col-sm-4">
                           <img  class="img-fluid" src="http://placehold.it/310x275"alt="random image">
                           <!-- <p>How to do pushups properly</p> -->
                       </div>
                       <div class="videos col-sm-4">
                           <img  class="img-fluid" src="http://placehold.it/310x275"alt="random image">
                           <!-- <p>the benefits of weight training</p> -->
                       </div>
                       <div class="videos col-sm-4">
                           <img  class="img-fluid" src="http://placehold.it/310x275"alt="random image">
                           <!-- <p>101 things you can do with dumbbells</p> -->
                       </div>
                   </div>
               </div>
           </div>

           <div id="hot-topics">
                   <div class="row justify-content-center">
                       <h2><a href="#">Hot Topics</a></h2>
                       <div class="topics row">
                           <a class="col-md-4 pad padH" href="#">
                               <img  class="img-fluid" alt=" a fat guy with a plate of vegetables" src="img/fat-guy.jpg"/>
                           </a>
                           <div class="col-md-8 pad padH " >
                               <a href="#" class="summary">
                                   <h4>10 ways you can have a fulfilling diet</h4>

                                   <p>Asymmetrical wolf letterpress, photo booth cornhole occupy tattooed portland fanny pack distillery offal roof party blog. Health goth cray four loko flannel 8-bit organic, gochujang waistcoat. old-pressed kinfolk banjo chia paleo pug. Seitan whatever tumblr shabby chic helvetica asymmetrical. Four loko deep v raw denim, kogi put a bird on it before they sold out lomo tumblr bitters hashtag. Franzen literally mustache,

                                   </p>
                               </a>
                               <div id="push-down">
                                   <ul class="link-inline stats">
                                       <li><a href="#"></a><i class="fa fa-plus" aria-hidden="true"></i> <span>428 Shares</span></li>
                                       <li><a href="#"></a><i class="fa fa-comment" aria-hidden="true"></i> <span>3 Comments</span></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
              </div>

           <div id="diets">
                   <div class="row justify-content-center">
                       <h2><a href="#">Diets</a></h2>
                       <div class="topics row">
                           <a class="col-md-4 pad padH" href="#">
                               <img  class="img-fluid" alt=" a plate of vegetables" src="img/diet-1.jpg"/>
                           </a>
                           <div class="col-md-8 pad padH " >
                               <a href="#" class="summary">
                                   <h4>The Kichong Diet</h4>

                                   <p>
                                       Chambray try-hard forage deep v af green juice pickled hammock, venmo helvetica swag. Intelligentsia edison bulb literally DIY, chambray tacos hoodie yr seitan microdosing synth fap listicle kinfolk. Disrupt occupy fixie shoreditch photo booth. Intelligentsia brooklyn affogato, umami ramps copper mug twee biodiesel put a bird on it. Skateboard stumptown roof party, actually PBR&B XOXO bushwick pork belly. Hella tousled +1, flannel photo booth cardigan pork belly chillwave church-key. Viral unicorn four dollar toast poke put a bird on it.
                                   </p>
                               </a>
                               <div id="push-down">
                                   <ul class="link-inline stats">
                                       <li><a href="#"></a><i class="fa fa-plus" aria-hidden="true"></i> <span>217 Shares</span></li>
                                       <li><a href="#"></a><i class="fa fa-comment" aria-hidden="true"></i> <span>5 Comments</span></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
              </div>


    </section>
</main>

{% include 'footer'%}
